@import "../../scss/configurations";

.section-services {
  padding: 100px 0;

  &_container {
    @include FlexBox;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
  }
  &__card {
    width: 300px;
    height: 260px;

    &-logo {
      width: 100%;
      margin: 10px auto;
      @include FlexBox;

      img {
        width: 130px;
      }
    }
    &-name {
      font-family: "PT Sans", sans-serif;
      font-size: 1.3rem;
      text-align: center;
      margin: 10px auto;
    }

    &:hover {
      animation: card 0.2s ease-out forwards;
    }
  }
}

@keyframes card {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

#card1 {
  background-color: $violet-300;
  box-shadow: 0px 5px 10px 0px $violet-400;
}

#card2 {
  background-color: $red-100;
  box-shadow: 0px 5px 10px 0px $red-200;
}

#card3 {
  background-color: $pink;
  box-shadow: 0px 5px 10px 0px $pink-100;
}

#card4 {
  background-color: $yellow-300;
  box-shadow: 0px 5px 10px 0px $yellow-400;

  .section-services__card-logo {
    margin: 20px auto;
    img {
      width: 120px;
    }
  }
}

#card5 {
  background-color: $skyblue;
  box-shadow: 0px 5px 10px 0px $skyblue-100;

  .section-services__card-logo {
    margin: 20px auto;
    img {
      width: 120px;
    }
  }
}
