@import "../../scss/configurations";

.footer-contact {
  &__container {
    @include FlexBox;
  }

  &__info {
    width: 50%;
    margin-right: 30px;
    min-height: 289px;
  }

  &__form {
    width: 100%;
    max-width: 600px;

    &-atributes-group {
      @include FlexBox;
      border: none;
      padding: 0;
      margin: 0;

      input {
        border-radius: 5px;
      }
    }
  }
}

.form-input {
  font-family: Roboto, sans-serif;
  height: 50px;
  width: 100%;
  box-shadow: 0px 3px 7px 0px $box-shadow-100;
  border-radius: 5px;
  padding: 24px;
  border: none;
  outline: none;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:focus {
    outline: 1px solid $violet-100;
  }
}

#areatext {
  font-family: Roboto, sans-serif;
  resize: none;
  min-height: 150px;
  margin: 15px 0;
}

.button-primary:disabled {
  background-color: $gray;
  cursor: not-allowed;
}
