@import "../../scss/configurations";

.navbar__section-container {
  max-width: 1024px;
  height: 43px;
  margin: 0 auto;

  @include FlexBox(row, space-between);

  .navbar__logo-img {
    align-self: center;
    width: 30px;
  }

  .navbar__menu {
    font-size: 16px;
    text-align: center;

    &-list {
      list-style: none;
      padding: 0;
      @include FlexBox;
    }
  }
}

.navbar__menu-list-item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.navbar__menu-link {
  color: $white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &::after {
    @include After;
  }

  &:hover::after {
    width: 100%;
  }

  .navbar__menu-logo {
    width: 14px;
    margin: 0 6px;

    &--experiencie,
    &--contact {
      width: 18px;
      margin: 0 5px;
    }
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    @include FlexBox;

    .navbar__menu-list {
      @include FlexBox(column, flex-start);
      height: 100vh;
      background-color: $violet-600;
      position: absolute;
      top: 47px;
      left: 0;
      width: 70%;
      border-top: 1px solid $violet-100;
      padding: 85px 0;

      li {
        text-align: center;
        margin: 0 10px;
        padding: 12px 10px;
        width: 100%;
        font-size: 20px;
        a {
          display: flex;
          width: 100%;
          &::after {
            display: none;
          }
        }

        &:hover,
        &:focus {
          background-color: $violet-100;
        }
      }
    }
    .open {
      .section-banner {
        filter: blur(1px);
      }
    }
  }
}
