// COLORS

$skyblue: #61dafb;
$soft-pink: #ffeeec;
$red-100: #ff4c60;
$red-200: #b43140;

$violet: #6c6ce5;
$violet-100: #695169;
$violet-200: #585472;
$violet-300: #4f4682;
$violet-400: #fbe7d417;
$violet-500: #221657;
$violet-600: #252236;
$violet-700: #1b1a31;

$yellow-100: #faefe5;
$yellow-200: #ffebcd;
$yellow-300: #f5d485;
$yellow-400: #fce76e;
$yellow-500: #dab305;

$white: #ffffff;
$white-100: #f9f9ff;
$white-200: #f5f5f5;

$box-shadow-color: #948e94;
$box-shadow-card-color: #c7b8aa;

@mixin Card {
  bg-color: $violet-300, $yellow-300, $red-100;
  box-shadow: 0px 5px 20px 0px $violet-500, $yellow-500, $red-200;
  color: $white-200;
}

@mixin Skillbar($width, $color) {
  background-color: $color;
  width: $width;
  height: 8px;
  border-radius: 16px;
}

@mixin FlexBox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin After {
  background-color: $violet-200;
  content: "";
  width: 0;
  height: 2px;
  left: 5px;
  bottom: -3px;
  transition: width 0.35s ease 0s;
  position: absolute;
}

@mixin Links {
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@mixin button {
  @include FlexBox;
  width: max-content;
  min-width: 160px;
  height: 42px;

  color: $white-100;
  background-color: $red-100;

  text-decoration: none;
  border-radius: 21px;
  border: none;
  outline: none;
  margin: 0 auto;
  cursor: pointer;
}
