@import "../../scss/configurations";

.section {
  max-width: 1024px;
  margin: 0 auto;

  &-about-me {
    background-color: $white-100;
    padding: 100px 0;

    &__subtitle {
      font-size: 1.563rem;
      font-weight: 600;
      text-align: left;
      letter-spacing: 1px;
    }

    &__right-container {
      @include FlexBox(column, space-around);
      height: 510px;
      margin: 0 13px;
    }

    &__container {
      @include FlexBox(row, center, flex-start);
    }

    &__avatar-container {
      margin: 0 10px;
      @include FlexBox;
      height: 230px;
    }

    &__avatar {
      width: 195px;
    }

    &__card {
      padding: 20px;
      &-switches {
        width: 95%;
      }
    }

    &__skill-bar {
      margin: 10px 0 15px;
      width: 100%;
      background-color: $white-100;
      border-radius: 16px;
      height: 8px;

      &--html {
        @include Skillbar(75%, $violet-300);
      }

      &--css {
        @include Skillbar(65%, $red-100);
      }

      &--js {
        @include Skillbar(50%, $yellow-300);
      }
      &--react {
        @include Skillbar(35%, $skyblue);
      }

      span {
        font-family: "PT Sans", sans-serif;
        font-weight: 900;
      }
    }

    &__card-info {
      p {
        font-family: "PT Sans", sans-serif;
        text-align: justify;

        .p-first-link {
          @include Links;

          &::after {
            @include After;
          }
          &:hover::after {
            width: 90%;
          }
        }

        .p-second-link {
          @include Links;
          &::after {
            @include After;
          }
          &:hover::after {
            width: 94%;
            margin-left: -5px;
          }
        }
      }
    }
  }
}

.card {
  box-shadow: 0px 5px 10px 0px #948e94;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}
