@import "../../scss/configurations";

.section-about-me {
  background-color: $white-100;
  padding: 100px 0;

  &__up-container {
    @include FlexBox(row, space-around);
    margin: 0 13px;
  }

  &__container {
    @include FlexBox(column, center, flex-start);
  }

  &__avatar-container {
    margin: 0 10px;
    @include FlexBox;
    height: 230px;
  }

  &__avatar {
    width: 195px;
  }

  &__card {
    padding: 20px;
    &-switches {
      width: 100%;
      margin: 45px 10px;
    }
  }

  &__skill-bar {
    margin: 10px 0 15px;
    width: 100%;
    background-color: $white-100;
    border-radius: 16px;
    height: 8px;

    &--html {
      @include Skillbar(70%, $violet-300);
    }

    &--css {
      @include Skillbar(60%, $red-100);
    }

    &--sass {
      @include Skillbar(50%, $pink);
    }

    &--js {
      @include Skillbar(40%, $yellow-300);
    }
    &--react {
      @include Skillbar(30%, $skyblue);
    }

    span {
      font-family: "PT Sans", sans-serif;
      font-weight: 900;
    }
  }

  &__card-info {
    p {
      font-family: "PT Sans", sans-serif;
      text-align: justify;

      .p-first-link {
        @include Links;

        &::after {
          @include After;
        }
        &:hover::after {
          width: 90%;
        }
      }

      .p-second-link {
        @include Links;
        &::after {
          @include After;
        }
        &:hover::after {
          width: 94%;
          margin-left: -5px;
        }
      }
    }
  }
}
